/* Formatting */
nav {
 background: #0a5326;
 height: 80px;
 width: 100%;
}
/* Formatting */
label.logo {
 color: white;
 font-size: 35px;
 line-height: 80px;
 /* padding: 0 100px; */
 font-weight: bold;
}
/* Formatting */
nav ul {
 float: right;
 margin-right: 20px;
}
/* Formatting */
nav ul li {
 display: inline-block;
 line-height: 80px;
 margin: 0 5px;
}
/* Formatting */
nav ul li a {
 color: white;
 font-size: 17px;
 padding: 7px;
 border-radius: 3px;
 text-transform: uppercase;
}
/* Formatting for when user hovers over button */
a.active,
a:hover {
 background: black;
 transition: .5s;
}
/* Formatting */
.checkbtn {
 font-size: 30px;
 color: white;
 float: right;
 line-height: 80px;
 margin-right: 40px;
 cursor: pointer;
 display: none;
}
/* #logo{
    float: left;
    width:10%;
    height:100%;
} */
/* Hides checkbox in navbar */
#check {
 display: none;
}
/* Creates the gradient for the background */
body {
    background-image: linear-gradient(to right, rgb(41, 236, 236), darkslategray);
}
/* Reformatting for when screen goes below 952px */
@media (max-width: 952px) {
 label.logo {
  font-size: 30px;
  /* padding-left: 50px; */
 }

 nav ul li a {
  font-size: 16px;
 }
}
/* Reformatting for when screen goes below 858px */
@media (max-width: 858px) {
 .checkbtn {
  display: block;
 }

 ul {
  width: 100%;
  height: 100vh;
  background: #2c3e50;
  top: 80px;
  left: -100%;
  text-align: center;
  transition: all .5s;
 }

 nav ul li {
  display: block;
  margin: 50px 0;
  line-height: 30px;
 }

 nav ul li a {
  font-size: 20px;
 }

 a:hover,
 a.active {
  background: none;
  color: #0082e6;
 }

 #check:checked~ul {
  display: none;
 }
}
/* Container for images */
.container {
 display: grid;
 grid-template-columns: repeat(5, auto);
 grid-template-rows: repeat(5, 1fr);
 gap: 1px;
 grid-template-areas: 
 "img1 img2 img3 img4 img5"
 "img6 img7 img8 img9 img10"
 "img11 img12 img13 img14 img15"
 "img16 img17 img18 img19 img20"
 "img21 img22 img23 img24 img25";
 width: 97.8vw;
}
/* Resizes the images */
img{
    width: 100%;
    height: 60%;
    border-radius: 25px;
}
/* Resize for the logo in the navbar */
.logos1{
    width: auto;
    height: 90%;
}
/* Resizing for when screen goes below 1421px */
@media only screen and (max-width:1421px){
    .p {
            font-size: 95%;
        }
    
        .h2 {
            font-size: 95%;
        }
    
        .h1 {
            font-size: 95%;
        }
}
/* Resizing for when screen goes below 1187px */
@media only screen and (max-width:1187px) {
    .p {
        font-size: 85%;
    }

    .h2 {
        font-size: 85%;
    }

    .h1 {
        font-size: 85%;
    }
}
/* Resizing for when screen goes below 1075px */
@media only screen and (max-width:1075px) {
    .p {
        font-size: 75%;
    }

    .h2 {
        font-size: 75%;
    }

    .h1 {
        font-size: 75%;
    }
}
/* Resizing for when screen goes below 951px */
@media only screen and (max-width:951px) {
    .p {
        font-size: 60%;
    }

    .h2 {
        font-size: 60%;
    }

    .h1 {
        font-size: 60%;
    }
        .button {
            font-size: 80%;
        }
}
/* Resizing for when screen goes below 790px */
@media only screen and (max-width:790px) {
    .p {
        font-size: 45%;
    }

    .h2 {
        font-size: 45%;
    }

    .h1 {
        font-size: 45%;
    }
    .button{
        font-size: 60%;
    }
}
/* Resizing for when screen goes below 575px */
@media only screen and (max-width:575px) {
    .p {
        font-size: 30%;
    }

    .h2 {
        font-size: 30%;
    }

    .h1 {
        font-size: 30%;
    }
        .button {
            font-size: 60%;
        }
}
/* Resizing for when screen goes below 490px */
@media only screen and (max-width:490px) {
    .p {
        font-size: 20%;
    }

    .h2 {
        font-size: 20%;
    }

    .h1 {
        font-size: 20%;
    }

    .button {
        font-size: 40%;
    }
}
/* Resizing for when screen goes below 450px */
@media only screen and (max-width:450px) {
    .p {
        font-size: 15%;
    }

    .h2 {
        font-size: 15%;
    }

    .h1 {
        font-size: 15%;
    }

    .button {
        font-size: 30%;
    }
}
/* Resizing for when screen goes below 410px */
@media only screen and (max-width:410px) {
    .p {
        font-size: 10%;
    }

    .h2 {
        font-size: 10%;
    }

    .h1 {
        font-size: 10%;
    }

    .button {
        font-size: 20%;
    }
}
/* Resizing for mobile */
@media only screen and (max-width:409px) {
    .p {
        font-size: 10%;
    }

    .h2 {
        font-size: 10%;
    }

    .h1 {
        font-size: 10%;
    }

    .button {
        font-size: 20%;
    }
    .img1{
        overflow: scroll;
    }
    .img2{
        overflow: scroll;
    }
    .img3{
        overflow: scroll;
    }
    .img4{
        overflow: scroll;
    }
    .img5{
        overflow: scroll;
    }

    .img6{
        overflow: scroll;
    }
    .img7{
        overflow: scroll;
    }
    .img8{
        overflow: scroll;
    }
    .img9{
        overflow: scroll;
    }
    .img10{
        overflow: scroll;
    }

    .img11{
        overflow: scroll;
    }
    .img12{
        overflow: scroll;
    }
    .img13{
        overflow: scroll;
    }
    .img14{
        overflow: scroll;
    }
    .img15{
        overflow: scroll;
    }
    .img16{
        overflow: scroll;
    }
    .img17{
        overflow: scroll;
    }

    .img18{
        overflow: scroll;
    }
    .img19{
        overflow: scroll;
    }
    .img20{
        overflow: scroll;
    }
    .img21{
        overflow: scroll;
    }
    .img22{
        overflow: scroll;
    }
    .img23{
        overflow: scroll;
    }
    .img24{
        overflow: scroll;
    }

    .img25{
        overflow: scroll;
    }
}
/* Formatting for the button */
button{
    border-radius: 25px;
    background-color: green;
    width:50%;
    height:5%;
    font-size: 30px;
    color:white;
    animation: shake 2s infinite;
}
/* Makes buttons shake */
@keyframes shake {
    10% {
        transform: scale(1.05) rotate(5deg);
    }

    20% {
        transform: scale(1.05) rotate(-5deg);
    }

    30% {
        transform: scale(1.05) rotate(5deg);
    }

    40% {
        transform: none;
    }
}
/* Creates grid sections for each of the 25 images */
.img1{
    /* grid-row: 1/2;
    grid-column: 1/2; */
    grid-area: img1;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img2 {
    /* grid-row: 1/2;
    grid-column: 2/3; */
    grid-area: img2;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img3 {
    /* grid-row: 1/2;
    grid-column: 3/4; */
    grid-area: img3;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img4 {
    /* grid-row: 1/2;
    grid-column: 4/5; */
    grid-area: img4;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img5 {
    /* grid-row: 1/2;
    grid-column: 5/6; */
    grid-area: img5;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img6 {
    /* grid-row: 2/3;
    grid-column: 1/2; */
    grid-area: img6;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img7 {
    /* grid-row: 2/3;
    grid-column: 2/3; */
    grid-area: img7;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img8 {
    /* grid-row: 2/3;
    grid-column: 3/4; */
    grid-area: img8;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img9 {
    /* grid-row: 2/3;
    grid-column: 4/5; */
    grid-area: img9;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img10 {
    /* grid-row: 2/3;
    grid-column: 5/6; */
    grid-area: img10;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img11 {
    /* grid-row: 3/4;
    grid-column: 1/2; */
    grid-area: img11;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img12 {
    /* grid-row: 3/4;
    grid-column: 2/3; */
    grid-area: img12;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img13 {
    /* grid-row: 3/4;
    grid-column: 3/4; */
    grid-area: img13;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img14 {
    /* grid-row: 3/4;
    grid-column: 4/5; */
    grid-area: img14;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img15 {
    /* grid-row: 3/4;
    grid-column: 5/6; */
    grid-area: img15;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img16 {
    /* grid-row: 4/5;
    grid-column: 1/2; */
    grid-area: img16;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img17 {
    /* grid-row: 4/5;
    grid-column: 2/3; */
    grid-area: img17;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img18 {
    /* grid-row: 4/5;
    grid-column: 3/4; */
    grid-area: img18;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img19 {
    /* grid-row: 4/5;
    grid-column: 4/5; */
    grid-area: img19;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img20 {
    /* grid-row: 4/5;
    grid-column: 5/6; */
    grid-area: img20;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img21 {
    /* grid-row: 5/6;
    grid-column: 1/2; */
    grid-area: img21;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img22 {
    /* grid-row: 5/6;
    grid-column: 2/3; */
    grid-area: img22;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img23 {
    /* grid-row: 5/6;
    grid-column: 3/4; */
    grid-area: img23;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img24 {
    /* grid-row: 5/6;
    grid-column: 4/5; */
    grid-area: img24;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;
}

.img25 {
    /* grid-row: 5/6;
    grid-column: 5/6; */
    grid-area: img25;
    border: 2px solid black;
    border-radius: 25px;
    background-color: white;   
}
/* Creates the footer */
footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    border: 2px solid black;
    background-color: lightsteelblue;
    border-radius: 25px;
}